@font-face {
  font-family: "Open Sans Regular";
  src: url("../assets/fonts/OpenSans-Regular.eot");
  src: url("../assets/fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/OpenSans-Regular.woff") format("woff"), url("../assets/fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans Semibold";
  src: url("../assets/fonts/OpenSans-SemiBold.eot");
  src: url("../assets/fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/OpenSans-SemiBold.woff") format("woff"), url("../assets/fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans Bold";
  src: url("../assets/fonts/OpenSans-Bold.eot");
  src: url("../assets/fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/OpenSans-Bold.woff") format("woff"), url("../assets/fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat Alternates Regular";
  src: url("../assets/fonts/MontserratAlternates-Regular.eot");
  src: url("../assets/fonts/MontserratAlternates-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/MontserratAlternates-Regular.woff") format("woff"), url("../assets/fonts/MontserratAlternates-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat Alternates Medium";
  src: url("../assets/fonts/MontserratAlternates-Medium.eot");
  src: url("../assets/fonts/MontserratAlternates-Medium.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/MontserratAlternates-Medium.woff") format("woff"), url("../assets/fonts/MontserratAlternates-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat Alternates Semibold";
  src: url("../assets/fonts/MontserratAlternates-SemiBold.eot");
  src: url("../assets/fonts/MontserratAlternates-SemiBold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/MontserratAlternates-SemiBold.woff") format("woff"), url("../assets/fonts/MontserratAlternates-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat Alternates Bold";
  src: url("../assets/fonts/MontserratAlternates-Bold.eot");
  src: url("../assets/fonts/MontserratAlternates-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/MontserratAlternates-Bold.woff") format("woff"), url("../assets/fonts/MontserratAlternates-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.page-fullscreen {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.page-fullscreen .main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

._text-upper {
  text-transform: uppercase;
}

.accordion-item:not(.accordion-item_show) .accordion-body {
  display: none;
}

.btn {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.btn-icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.btn-primary-rounded {
  border-radius: 30px;
  height: 60px;
  background-color: #0876E4;
  font-family: "Open Sans Semibold";
  font-size: 16px;
  color: #FFFFFF;
  -webkit-transition: all 0.15s ease-in-out 0s;
  -o-transition: all 0.15s ease-in-out 0s;
  transition: all 0.15s ease-in-out 0s;
}
.btn-primary-rounded:not(:disabled):hover {
  background-color: #0769cb;
}
.btn-primary-rounded:not(:disabled):active {
  background-color: #087bee;
}
.btn-primary-rounded:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media (max-width: 520px) {
  .btn-primary-rounded {
    font-size: 14px;
  }
}
.dd {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.dd.active .dd-drop {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  z-index: 20;
}
.dd-drop {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -1;
  min-width: 100%;
  overflow: hidden;
  -webkit-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}
.dd-drop._showDown {
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}
.dd-drop._showUp {
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px);
}
.dd-drop._up {
  top: auto;
  bottom: calc(100% + 10px);
}
.dd-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.dd._scrolled .dd-drop ul {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-right: 10px;
  overflow-y: auto;
}
.dd._scrolled .dd-drop ul::-webkit-scrollbar-track {
  background-color: #E8EEF6;
}
.dd._scrolled .dd-drop .dd-item {
  display: block;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
}

.h._bordered {
  border-bottom: 1px solid #E8EDF6;
}
.h__inner {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.h-logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 183px;
          flex: 0 1 183px;
  max-width: 183px;
  width: 100%;
  line-height: 0;
}
.h-logo img, .h-logo svg {
  width: 100%;
}
.h-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 60px;
}
.h-nav-item {
  font-family: "Open Sans Regular";
  font-size: 18px;
  line-height: 1.3;
  color: #434A57;
  -webkit-transition: color 0.1s ease-in-out 0s;
  -o-transition: color 0.1s ease-in-out 0s;
  transition: color 0.1s ease-in-out 0s;
}
.h-nav-item:hover {
  color: #0876E4;
}
.h-nav-dd {
  cursor: pointer;
}
.h-nav-dd.active .h-nav-item {
  color: #0876E4;
}
.h-nav-dd.active .h-nav-dd-arrow {
  -webkit-transform: scale(1, -1);
      -ms-transform: scale(1, -1);
          transform: scale(1, -1);
}
.h-nav-dd.active .h-nav-dd-arrow path {
  stroke: #0876E4;
}
.h-nav-dd-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.h-nav-dd-label:hover .h-nav-item {
  color: #0876E4;
}
.h-nav-dd-label:hover .h-nav-dd-arrow path {
  stroke: #0876E4;
}
.h-nav-dd-arrow {
  -webkit-transition: -webkit-transform 0.1s ease-in-out 0s;
  transition: -webkit-transform 0.1s ease-in-out 0s;
  -o-transition: transform 0.1s ease-in-out 0s;
  transition: transform 0.1s ease-in-out 0s;
  transition: transform 0.1s ease-in-out 0s, -webkit-transform 0.1s ease-in-out 0s;
  width: 16px;
}
.h-nav-dd-arrow svg {
  max-width: 100%;
}
.h-nav-dd-arrow path {
  -webkit-transition: stroke 0.1s ease-in-out 0s;
  -o-transition: stroke 0.1s ease-in-out 0s;
  transition: stroke 0.1s ease-in-out 0s;
}
.h-nav-dd-drop {
  top: calc(100% + 20px);
  min-width: 240px;
  border-radius: 10px;
  padding: 10px 10px 20px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 15px 30px rgba(26, 25, 37, 0.25);
          box-shadow: 0px 15px 30px rgba(26, 25, 37, 0.25);
}
.h-nav-dd-list-item {
  border-radius: 5px;
  display: block;
  padding: 10px 10px 10px 20px;
  background-color: transparent;
  font-family: "Open Sans Regular";
  font-size: 16px;
  line-height: 1.3;
  color: #434A57;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
.h-nav-dd-list-item:hover {
  background-color: #0876E4;
  color: #FFFFFF;
}
.h-nav-dd-btn {
  margin-top: 13px;
  border-radius: 25px;
  width: 100%;
  height: 50px;
  gap: 10px;
  font-family: "Open Sans Regular";
  font-size: 16px;
  color: #434A57;
  background-color: #F4F6FC;
  -webkit-transition: background 0.1s ease-in-out 0s;
  -o-transition: background 0.1s ease-in-out 0s;
  transition: background 0.1s ease-in-out 0s;
}
.h-nav-dd-btn:hover {
  background-color: #e0e6f7;
}
.h-socbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.h-socbar-btn {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #FFFFFF;
  -webkit-transition: background-color 0.3s ease-in-out 0s;
  -o-transition: background-color 0.3s ease-in-out 0s;
  transition: background-color 0.3s ease-in-out 0s;
}
.h-socbar-btn:hover {
  background-color: #f2f2f2;
}
.h-outlink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.h-outlink-icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 24px;
  height: 24px;
  line-height: 0;
}
.h-outlink-label {
  font-family: "Open Sans Regular";
  font-size: 16px;
  line-height: 1.5;
  color: #434A57;
}
.h-menubtn, .h-backdrop {
  display: none;
}

@media (max-width: 1200px) {
  .h-nav {
    gap: 40px;
  }
}
@media (max-width: 991px) {
  .h {
    position: relative;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  .h.active {
    height: 100%;
  }
  .h.active .h__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .h__inner {
    position: relative;
    z-index: 2;
    gap: 30px;
    display: grid;
    grid-template-columns: -webkit-min-content 1fr -webkit-min-content;
    grid-template-columns: min-content 1fr min-content;
  }
  .h-logo {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 180px;
  }
  .h-socbar {
    grid-column: 2/3;
    grid-row: 1/2;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .h-socbar.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .h-menubtn {
    grid-column: 3/4;
    grid-row: 1/2;
    background: transparent url("../assets/static/icon-menubtn-border.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50px;
    height: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  .h-menubtn.active span:nth-of-type(1) {
    -webkit-transform: rotate(45deg) translate(3px, 3px);
        -ms-transform: rotate(45deg) translate(3px, 3px);
            transform: rotate(45deg) translate(3px, 3px);
  }
  .h-menubtn.active span:nth-of-type(3) {
    -webkit-transform: rotate(-45deg) translate(6px, -5px);
        -ms-transform: rotate(-45deg) translate(6px, -5px);
            transform: rotate(-45deg) translate(6px, -5px);
  }
  .h-menubtn.active span:nth-of-type(2) {
    opacity: 0;
  }
  .h-menubtn span {
    width: 20px;
    height: 1px;
    background-color: #0876E4;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  .h-menubtn span:nth-of-type(2) {
    margin: 5px 0;
    width: 12px;
  }
  .h-nav {
    grid-column: 1/4;
    grid-row: 2/3;
    width: 100%;
    display: none;
    padding-top: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .h-nav.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .h-nav-item {
    text-align: center;
    font-family: "Montserrat Alternates Medium";
    font-size: 32px;
  }
  .h-nav-dd {
    max-width: 320px;
    width: 100%;
  }
  .h-nav-dd.active .h-nav-dd-drop {
    display: block;
  }
  .h-nav-dd-label {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .h-nav-dd-drop {
    position: static;
    display: none;
    min-width: auto;
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: transparent;
  }
  .h-nav-dd-list-item {
    text-align: center;
    font-family: "Montserrat Alternates Medium";
    font-size: 20px;
  }
  .h-nav-dd-list-item:hover {
    background-color: inherit;
    color: inherit;
  }
  .h-nav-dd-btn {
    background-color: #FFFFFF;
  }
  .h-backdrop {
    display: block;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: url("../assets/static/header-backdrop-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  .h-backdrop.active {
    opacity: 1;
    visibility: visible;
  }
  .h-sidebar {
    grid-column: 3/4;
    grid-row: 1/2;
  }
}
@media (max-width: 520px) {
  .h__inner {
    padding: 20px;
  }
  .h-logo {
    grid-column: 1/3;
  }
  .h-nav {
    padding-top: 50px;
  }
  .h-nav-item {
    font-size: 24px;
  }
  .h-socbar {
    grid-column: 1/4;
    grid-row: 3/4;
    display: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .h-socbar.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .h-socbar-btn {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 31%;
            flex: 0 1 31%;
    border-radius: 20px;
    height: 40px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .h-outlink-label {
    display: none;
  }
}
.f._bg {
  background: -o-linear-gradient(318deg, #E9EDF4 0%, #E8EDF7 100%);
  background: linear-gradient(132deg, #E9EDF4 0%, #E8EDF7 100%);
}
.f-container {
  margin: 0 auto;
  max-width: 1144px;
  width: 100%;
}
.f-top {
  padding: 50px 30px 40px;
}
.f-top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.f-common {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 280px;
          flex: 0 1 280px;
}
.f-logo {
  max-width: 218px;
  width: 100%;
  line-height: 0;
}
.f-logo img, .f-logo svg {
  width: 100%;
}
.f-soc {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}
.f-soc-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  line-height: 0;
}
.f-link {
  margin-top: 20px;
  display: block;
  font-family: "Open Sans Regular";
  font-size: 18px;
  color: #434A57;
}
.f-nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.f-nav-col {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}
.f-nav-col:not(.accordion-item_show) .accordion-body {
  display: block;
}
.f-nav-col-h {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}
.f-nav-col-h-arrow {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: none;
}
.f-nav-col-b__inner {
  padding-top: 20px;
}
.f-nav-label {
  font-family: "Montserrat Alternates Medium";
  font-size: 24px;
  color: #0F1622;
}
.f-nav-link {
  display: block;
  font-family: "Open Sans Regular";
  font-size: 18px;
  line-height: 1.4;
  color: #434A57;
}
.f-nav-link:not(:nth-of-type(1)) {
  margin-top: 10px;
}
.f-bottom {
  border-top: 1px solid #C4CBD8;
  padding: 20px 30px;
}
.f-bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.f-bottom-row .f-lang {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.f-copy {
  font-family: "Open Sans Regular";
  font-size: 18px;
  line-height: 1.3;
  color: #434A57;
}
.f-lang {
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  padding: 10px 15px;
  background-color: #FFFFFF;
  cursor: pointer;
}
.f-lang.active .f-lang-arrow {
  -webkit-transform: scale(1, -1);
      -ms-transform: scale(1, -1);
          transform: scale(1, -1);
}
.f-lang-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.f-lang-item-icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  line-height: 0;
}
.f-lang-item-icon img {
  width: 30px;
}
.f-lang-item-label {
  font-family: "Open Sans Regular";
  font-size: 18px;
  line-height: 1.3;
  color: #0F1622;
}
.f-lang-arrow {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  line-height: 0;
  -webkit-transition: -webkit-transform 0.3s ease-in-out 0s;
  transition: -webkit-transform 0.3s ease-in-out 0s;
  -o-transition: transform 0.3s ease-in-out 0s;
  transition: transform 0.3s ease-in-out 0s;
  transition: transform 0.3s ease-in-out 0s, -webkit-transform 0.3s ease-in-out 0s;
}
.f-lang-list {
  left: auto;
  right: 0;
  border-radius: 6px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 15px 30px rgba(26, 25, 37, 0.25);
          box-shadow: 0px 15px 30px rgba(26, 25, 37, 0.25);
}
.f-lang-list .f-lang-item {
  padding: 10px 15px;
  -webkit-transition: background-color 0.1s ease-in-out 0s;
  -o-transition: background-color 0.1s ease-in-out 0s;
  transition: background-color 0.1s ease-in-out 0s;
}
.f-lang-list .f-lang-item:hover {
  background-color: #f7f7f7;
}

@media (max-width: 991px) {
  .f-top-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .f-common {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .f-soc {
    margin-top: 20px;
  }
  .f-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
  .f-nav-col {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    margin-top: 10px;
    border-top: 1px solid #C4CBD8;
    width: 100%;
  }
  .f-nav-col:not(.accordion-item_show) .accordion-body {
    display: none;
  }
  .f-nav-col-h {
    padding: 20px 0 10px;
  }
  .f-nav-col-h-arrow {
    display: block;
  }
}
@media (max-width: 520px) {
  .f-top {
    padding: 20px 30px 10px;
  }
  .f-link {
    font-size: 16px;
  }
  .f-nav-label {
    font-size: 18px;
  }
  .f-nav-link {
    font-size: 16px;
  }
  .f-bottom {
    padding: 10px 20px;
  }
  .f-bottom-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .f-bottom-row .f-lang {
    margin-top: 10px;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
  .f-copy {
    font-size: 14px;
    text-align: center;
  }
  .f-lang {
    width: 100%;
  }
}
.punlock {
  padding: 30px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.punlock-title {
  margin: 0;
  font-family: "Montserrat Alternates Medium";
  font-size: 32px;
  line-height: 1.2;
  color: #1A3564;
}
.punlock-text {
  font-family: "Open Sans Regular";
  font-size: 20px;
  line-height: 1.4;
  color: #434A57;
}
.punlock-desc {
  margin-top: 20px;
}
.punlock-btn {
  margin-top: 40px;
  max-width: 440px;
  width: 100%;
  padding: 0 20px;
}
.punlock-outlink {
  margin-top: 50px;
  position: relative;
}
.punlock-outlink::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  border-top: 1px dashed #434A57;
  width: 100%;
  height: 1px;
}
.punlock-instr {
  margin: 0 auto;
  max-width: 910px;
  width: 100%;
}
.punlock-instr-title {
  text-align: left;
  margin: 0;
  font-family: "Montserrat Alternates Regular";
  font-size: 40px;
  line-height: 1.3;
  color: #0F1622;
}
.punlock-instr-grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px 30px;
}
.punlock-instr-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  font-family: "Open Sans Regular";
  font-size: 16px;
  line-height: 1.4;
  color: #434A57;
}
.punlock-instr-item .num {
  margin-right: 15px;
  font-family: "Montserrat Alternates Medium";
  font-size: 20px;
  line-height: 1.26;
  color: #1A3564;
}
.punlock-instr-item em {
  font-style: normal;
  color: #0876E4;
}

@media (max-width: 991px) {
  .punlock-instr-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 520px) {
  .punlock {
    padding: 20px;
  }
  .punlock-title {
    font-family: "Montserrat Alternates Regular";
    font-size: 24px;
  }
  .punlock-text {
    font-size: 18px;
  }
  .punlock-btn {
    margin-top: 30px;
  }
  .punlock-outlink {
    margin-top: 40px;
    font-size: 14px;
  }
  .punlock-instr-title {
    font-size: 32px;
  }
  .punlock-instr-grid {
    margin-top: 30px;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  .punlock-instr-item {
    font-size: 14px;
  }
  .punlock-instr-item .num {
    font-size: 16px;
  }
}/*# sourceMappingURL=styles.css.map */