*
  box-sizing: border-box

a
  color: inherit
  text-decoration: none

input, textarea
  outline: none

.page
  &-fullscreen
    min-height: 100vh
    display: flex
    flex-direction: column
    justify-content: space-between
    .main
      flex: 1 1 auto

._text
  &-upper
    text-transform: uppercase
  &-center
    text-align: center
  &-primary
    color: $primary

._mx
  &-10
    margin-top: 10px
    margin-bottom: 10px
  &-15
    margin-top: 15px
    margin-bottom: 15px
  &-20
    margin-top: 20px
    margin-bottom: 20px
  &-30
    margin-top: 30px
    margin-bottom: 30px

.accordion
  &-item
    &:not(.accordion-item_show)
      .accordion-body
        display: none
