*
  box-sizing: border-box

a
  color: inherit
  text-decoration: none

// temp
#root
  height: 100vh
  display: flex
  flex-direction: column
  justify-content: space-between

._text
  &-upper
    text-transform: uppercase

.accordion
  &-item
    &:not(.accordion-item_show)
      .accordion-body
        display: none
