*
  box-sizing: border-box
  -webkit-tap-highlight-color: transparent
  scrollbar-width: thin
  scrollbar-color: $primary transparent
  &::-webkit-scrollbar
    width: 6px
    height: 6px
  &::-webkit-scrollbar-thumb
    border-radius: 6px
    background-color: $primary

a
  color: inherit
  text-decoration: none

input, textarea
  outline: none

._scroll-lock-y
  overflow-y: hidden

.page
  &-fullscreen
    min-height: 100vh
    display: flex
    flex-direction: column
    justify-content: space-between
    .main
      flex: 1 1 auto

.container
  margin: 0 auto
  max-width: 1145px

.container2
  margin: 0 auto
  max-width: 910px

._text
  &-upper
    text-transform: uppercase
  &-center
    text-align: center
  &-right
    text-align: right
  &-bold
    font-weight: bold
  &-primary
    color: $primary
  &-red
    color: $red
  &-black
    color: $black
  &-white
    color: $white
  &-grey
    color: $grey
  &-darkgrey
    color: $darkgrey
  &-darkblue
    color: $darkblue
  &-ellipsis
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

._cursor
  &-pointer
    cursor: pointer

.text
  +opensans-reg
  font-size: 18px
  line-height: 1.3

.text2
  +monts-reg
  line-height: 1.3

._fz
  &-6
    font-size: 6px
  &-7
    font-size: 7px
  &-8
    font-size: 8px
  &-10
    font-size: 10px
  &-12
    font-size: 12px
  &-14
    font-size: 14px
  &-16
    font-size: 16px
  &-18
    font-size: 18px
  &-20
    font-size: 20px
  &-22
    font-size: 22px
  &-24
    font-size: 24px
  &-28
    font-size: 28px
  &-32
    font-size: 32px
  &-40
    font-size: 40px
  &-48
    font-size: 48px

._lh
  &-0
    line-height: 0
  &-1d2
    line-height: 1.2
  &-1d3
    line-height: 1.3
  &-1d4
    line-height: 1.4
  &-1d5
    line-height: 1.5

._transform
  &-rotate
    &-90
      transform: rotate(90deg)
    &-m90
      transform: rotate(-90deg)

._pos
  &-rel
    position: relative
._z
  &-1
    position: relative
    z-index: 1
  &-2
    position: relative
    z-index: 2
  &-3
    position: relative
    z-index: 3
  &-4
    position: relative
    z-index: 4
  &-5
    position: relative
    z-index: 5
  &-6
    position: relative
    z-index: 6
  &-7
    position: relative
    z-index: 7
  &-8
    position: relative
    z-index: 8
  &-9
    position: relative
    z-index: 9
  &-10
    position: relative
    z-index: 10
  &-20
    position: relative
    z-index: 20

._bg
  &-red
    background-color: $red
  &-primary
    background-color: $primary
  &-white
    background-color: $white

._my
  &-10
    margin-top: 10px
    margin-bottom: 10px
  &-15
    margin-top: 15px
    margin-bottom: 15px
  &-20
    margin-top: 20px
    margin-bottom: 20px
  &-30
    margin-top: 30px
    margin-bottom: 30px
  &-40
    margin-top: 40px
    margin-bottom: 40px
  &-50
    margin-top: 50px
    margin-bottom: 50px

._mt
  &-5
    margin-top: 5px
  &-10
    margin-top: 10px
  &-15
    margin-top: 15px
  &-20
    margin-top: 20px
  &-30
    margin-top: 30px
  &-40
    margin-top: 40px
  &-50
    margin-top: 50px
  &-60
    margin-top: 60px
  &-80
    margin-top: 80px
  &-100
    margin-top: 100px
  &-200
    margin-top: 200px

._mb
  &-10
    margin-bottom: 10px
  &-15
    margin-bottom: 15px
  &-20
    margin-bottom: 20px
  &-30
    margin-bottom: 30px
  &-40
    margin-bottom: 40px

._mr-auto
  margin-right: auto
._ml-auto
  margin-left: auto
._mx-auto
  margin-left: auto
  margin-right: auto


._py
  &-5
    padding-top: 5px
    padding-bottom: 5px
  &-10
    padding-top: 10px
    padding-bottom: 10px
  &-15
    padding-top: 15px
    padding-bottom: 15px
  &-20
    padding-top: 20px
    padding-bottom: 20px
  &-30
    padding-top: 30px
    padding-bottom: 30px
  &-40
    padding-top: 40px
    padding-bottom: 40px
  &-45
    padding-top: 45px
    padding-bottom: 45px
  &-100
    padding-top: 100px
    padding-bottom: 100px
  &-200
    padding-top: 200px
    padding-bottom: 200px

._pt
  &-5
    padding-top: 5px
  &-10
    padding-top: 10px
  &-15
    padding-top: 15px
  &-20
    padding-top: 20px
  &-30
    padding-top: 30px
  &-40
    padding-top: 40px
  &-50
    padding-top: 50px
  &-100
    padding-top: 100px
  &-200
    padding-top: 200px

._pb
  &-5
    padding-bottom: 5px
  &-10
    padding-bottom: 10px
  &-15
    padding-bottom: 15px
  &-20
    padding-bottom: 20px
  &-30
    padding-bottom: 30px
  &-40
    padding-bottom: 40px
  &-50
    padding-bottom: 50px
  &-100
    padding-bottom: 100px
  &-200
    padding-bottom: 200px

._px
  &-5
    padding-left: 5px
    padding-right: 5px
  &-10
    padding-left: 10px
    padding-right: 10px
  &-15
    padding-left: 15px
    padding-right: 15px
  &-20
    padding-left: 20px
    padding-right: 20px
  &-30
    padding-left: 30px
    padding-right: 30px

._d
  &f
    display: flex
  &if
    display: inline-flex
  &b
    display: block
  &ib
    display: inline-block

._flex-direction
  &-column
    flex-direction: column

._align
  &-start
    align-items: flex-start
  &-center
    align-items: center
  &-end
    align-items: flex-end

._justify
  &-start
    justify-content: flex-start
  &-center
    justify-content: center
  &-between
    justify-content: space-between
  &-end
    justify-content: flex-end

._flex
  &-grow
    &-0
      flex-grow: 0
    &-1
      flex-grow: 1
  &-shrink
    &-0
      flex-shrink: 0
    &-1
      flex-shrink: 1

._flex
  &-basis
    &-100p
      flex-basis: 100%
    &-50p
      flex-basis: 50%

._gap
  &-x
    &-5
      column-gap: 5px
    &-10
      column-gap: 10px
    &-15
      column-gap: 15px
    &-20
      column-gap: 20px
    &-30
      column-gap: 30px
  &-y
    &-5
      row-gap: 5px
    &-10
      row-gap: 10px
    &-15
      row-gap: 15px
    &-20
      row-gap: 20px
    &-30
      row-gap: 30px

._w
  &-100p
    width: 100%
  &-20
    width: 20px
  &-24
    width: 24px
  &-30
    width: 30px
  &-32
    width: 32px
  &-40
    width: 40px
  &-50
    width: 50px

.accordion
  &-item
    &:not(.accordion-item_show)
      .accordion-body
        display: none

.tabs
  &-node
    display: block
    visibility: visible
    &.hidden
      &:not(.active)
        display: none
    &.active
      display: block
      animation: tabFadeUp 0.3s ease-in-out 0s 1 normal forwards
  &._height-transition
    .tabs-node-wrapper
      overflow: hidden
      transition: height 0.5s ease-in-out

@keyframes tabFadeUp
  0%
    opacity: 0
  100%
    opacity: 1

@media ( max-width: 991px )
  ._md
    &-text
      &-center
        text-align: center
    &-mt
      &-10
        margin-top: 10px
      &-15
        margin-top: 15px
      &-20
        margin-top: 20px
      &-30
        margin-top: 30px
      &-40
        margin-top: 40px
      &-100
        margin-top: 100px
      &-150
        margin-top: 150px
    &-py
      &-10
        padding-top: 10px
        padding-bottom: 10px
      &-15
        padding-top: 15px
        padding-bottom: 15px
      &-20
        padding-top: 20px
        padding-bottom: 20px
      &-30
        padding-top: 30px
        padding-bottom: 30px
    &-px
      &-10
        padding-left: 10px
        padding-right: 10px
      &-15
        padding-left: 15px
        padding-right: 15px
      &-20
        padding-left: 20px
        padding-right: 20px
      &-30
        padding-left: 30px
        padding-right: 30px
    &-gap
      &-x
        &-5
          column-gap: 5px
        &-10
          column-gap: 10px
        &-15
          column-gap: 15px
        &-20
          column-gap: 20px
        &-30
          column-gap: 30px
      &-y
        &-5
          row-gap: 5px
        &-10
          row-gap: 10px
        &-15
          row-gap: 15px
        &-20
          row-gap: 20px
        &-30
          row-gap: 30px

@media ( max-width: 520px )
  *
    &::-webkit-scrollbar
      width: 3px
      height: 3px
  ._sm
    &-mt
      &-5
        margin-top: 5px
      &-10
        margin-top: 10px
      &-15
        margin-top: 15px
      &-20
        margin-top: 20px
      &-30
        margin-top: 30px
      &-40
        margin-top: 40px
      &-50
        margin-top: 50px
      &-100
        margin-top: 100px
    &-my
      &-10
        margin-top: 10px
        margin-bottom: 10px
      &-15
        margin-top: 15px
        margin-bottom: 15px
      &-20
        margin-top: 20px
        margin-bottom: 20px
      &-30
        margin-top: 30px
        margin-bottom: 30px
    &-py
      &-5
        padding-top: 5px
        padding-bottom: 5px
      &-10
        padding-top: 10px
        padding-bottom: 10px
      &-15
        padding-top: 15px
        padding-bottom: 15px
      &-20
        padding-top: 20px
        padding-bottom: 20px
      &-30
        padding-top: 30px
        padding-bottom: 30px
      &-100
        padding-top: 100px
        padding-bottom: 100px
    &-pt
      &-5
        padding-top: 5px
      &-10
        padding-top: 10px
      &-15
        padding-top: 15px
      &-20
        padding-top: 20px
      &-30
        padding-top: 30px
      &-40
        padding-top: 40px
      &-50
        padding-top: 50px
      &-100
        padding-top: 100px
      &-200
        padding-top: 200px
    &-pb
      &-5
        padding-bottom: 5px
      &-10
        padding-bottom: 10px
      &-15
        padding-bottom: 15px
      &-20
        padding-bottom: 20px
      &-30
        padding-bottom: 30px
      &-40
        padding-bottom: 40px
      &-50
        padding-bottom: 50px
      &-100
        padding-bottom: 100px
      &-200
        padding-bottom: 200px
    &-px
      &-5
        padding-left: 5px
        padding-right: 5px
      &-10
        padding-left: 10px
        padding-right: 10px
      &-15
        padding-left: 15px
        padding-right: 15px
      &-20
        padding-left: 20px
        padding-right: 20px
      &-30
        padding-left: 30px
        padding-right: 30px
    &-fz
      &-8
        font-size: 8px
      &-10
        font-size: 10px
      &-12
        font-size: 12px
      &-14
        font-size: 14px
      &-16
        font-size: 16px
      &-18
        font-size: 18px
      &-20
        font-size: 20px
      &-22
        font-size: 22px
      &-24
        font-size: 24px
      &-28
        font-size: 28px
      &-32
        font-size: 32px
    &-text
      &-center
        text-align: center
    &-gap
      &-x
        &-10
          column-gap: 10px
        &-15
          column-gap: 15px
        &-20
          column-gap: 20px
        &-30
          column-gap: 30px
        &-40
          column-gap: 40px
      &-y
        &-10
          row-gap: 10px
        &-15
          row-gap: 15px
        &-20
          row-gap: 20px
        &-30
          row-gap: 30px
        &-40
          row-gap: 40px
    &-w
      &-100p
        width: 100%
      &-20
        width: 20px
      &-24
        width: 24px
      &-30
        width: 30px
      &-32
        width: 32px
      &-40
        width: 40px
      &-50
        width: 50px
    &-d
      &n
        display: none
      &f
        display: flex
      &if
        display: inline-flex
      &b
        display: block
      &ib
        display: inline-block
    &-flex-direction
      &-column
        flex-direction: column
