-
  var infoCardItems = [
    {title: 'Reset password', desc: 'You can also manually add sites to be blocked. You can also manually add sites to be blocked.  You can also manually add sites to be blocked. '},
    {title: 'Reset password', desc: 'You can also manually add sites to be blocked. You can also manually add sites to be blocked. '},
    {title: 'Questions About Kroha', desc: 'You can also manually add sites to be blocked. '},
    {title: 'Modes and restrictions', desc: 'Kroha powerful content blocking features ensure that your kids are protected from over 20 million inappropriate URLs and can see only the search results allowed by Google SafeSearch.'},
  ]

.ic
  .ic-title.text._fz-32._sm-fz-24._lh-1d3._text-black._text-center._text-bold Popular questions
  .ic-grid._mt-50._mx-auto
    each item in infoCardItems
      .ic-item
        .ic-item-title.text2._fz-24._sm-fz-18._text-black._text-bold= item.title
        .ic-item-desc.text._fz-16._sm-fz-14._lh-1d3._text-darkgrey._mt-15._mb-20= item.desc
        a.ic-item-link._dif._align-center._gap-x-10(href="#")
          .text._fz-16._sm-fz-14._lh-1d5._text-primary Learn more
          img(src=staticRoute + "icon-arrow-right-primary.svg", alt="icon")