section
  .oi-inner
    .oi-info
      .bnr.oi-bnr._bg-primary._px-30._py-45._sm-px-20
        h2.bnr-title._fz-32._sm-fz-24._text-white Have questions or need help?
        a.bnr-desc.text._fz-20._sm-fz-16._text-white._db._mt-20(href="mailto:support@parental-control.net") support@parental-control.net
    .oi-bg.bgstar