section
  .oi-inner
    .oi-info
      .bnr.oi-bnr._bg-primary._px-30._py-45
        .oi-installbar._df._align-center._sm-flex-direction-column._gap-x-30._sm-gap-y-30
          a.btn.btn-white._flex-grow-1._sm-w-100p(href="#") 
            img._w-100p(src=staticRoute + 'icon-ggle-play-label.svg', alt="GooglePlay")
          a.btn.btn-white._flex-grow-1._sm-w-100p(href="#") 
            img._w-100p(src=staticRoute + 'icon-apple-black-label.svg', alt="AppStore")
          a.btn.btn-white._flex-grow-1._sm-w-100p(href="#") 
            img._w-100p(src=staticRoute + 'icon-huawei-app-gallery-label.svg', alt="AppGallery")
    .oi-bg.bgstar