section
  .oi-inner
    .oi-info
      .bnr.oi-bnr._bg-primary._px-30._py-45._sm-px-20
        h2.bnr-title._fz-32._sm-fz-24._text-white We here to help
        a._dif._align-center._gap-x-10._mt-20(href="#")
          img(src=staticRoute + "icon-help-circle-white.svg", alt="icon")
          .text._fz-16._sm-fz-14._lh-1d5._text-white If you have a question click hee
    .oi-bg.bgstar