.m__wrapper.active
  .m
    .m-btn-close.m-close
      img(src=staticRoute + "icon-close-black.svg", alt="close modal")
    .m-h
      .m-title.text2._fz-28._sm-fz-20._text-darkblue._text-bold Enter your email address to activate your cubscription
      form.m-form._mt-40._sm-mt-20(action="#") 
        .form-block
          .input-field
            input.input(type="text")
            .input-label._bg-white Your activation code
          .input-output
        .m-form-f._mt-30._sm-mt-10
          .m-form-captcha
            img(src=staticRoute + "captcha-example.png", alt="captcha")
          button.m-btn.btn.btn-primary._rounded(type="button")
            .btn-text Buy now!

