.pag
  a.pag-item.pag-arrow(href="#")
    img(src=staticRoute + "icon-arrow-left-black.svg", alt="prev")
  a.pag-item.pag-btn(href="#") 1
  a.pag-item.pag-btn._active(href="#") 2
  a.pag-item.pag-btn._sm-dn(href="#") 3
  a.pag-item.pag-btn._sm-dn(href="#") 4
  a.pag-item.pag-btn(href="#") ...
  a.pag-item.pag-btn(href="#") 28
  a.pag-item.pag-btn.pag-arrow(href="#")
    img(src=staticRoute + "icon-arrow-right-black.svg", alt="next")