section.t
  .t-space
    .t-space-orbital._1
      img(src="./assets/static/fs-orbital-2.svg", alt="orbital")
    .t-space-orbital._2
      img(src="./assets/static/fs-orbital-3.svg", alt="orbital")
    .t-space-orbital._3
      img(src="./assets/static/fs-orbital-4.svg", alt="orbital")
    .t-space-orbital._4
      img(src="./assets/static/fs-orbital-5.svg", alt="orbital")
    .t-space-orbital._5
      img(src="./assets/static/fs-orbital-6.svg", alt="orbital")
    .t-space-orbital._6
      img(src="./assets/static/fs-orbital-7.svg", alt="orbital")
    .t-space-orbital._7
      img(src="./assets/static/fs-orbital-8.svg", alt="orbital")

    .t-space-sidecomet.to-close
      .t-space-sidecomet-close.to-close-btn
        img(src="./assets/static/icon-close-grey.svg", alt="close")
      a.t-space-sidecomet-pic(href="./kroha-advanced.html")
        img(src="./assets/static/icon-kroha-advanced-2.svg", alt="pic")

    .t-space-comet._1
      <svg class="t-space-comet__pic" width="182" height="179" viewBox="0 0 182 179" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M100.367 143.332C95.3458 151.182 84.0017 155.555 73.5053 151.705C63.0088 147.856 56.3764 132.238 60.2262 121.742L63.4175 128.276C63.4175 128.276 64.8198 106.256 55.8549 97.3932C55.8549 97.3932 65.58 100.735 65.8158 107.241C65.8158 107.241 64.4743 92.4473 68.6731 85.9823L68.287 95.7346C79.1019 77.2098 86.5644 67.6794 85.0392 42.6759C85.0392 42.6759 88.7834 53.3534 88.411 61.6277L102.348 25.3935C102.348 25.3935 105.655 43.3891 106.067 70.6597C106.067 70.6597 108.788 64.181 113.263 59.788C108.125 71.8613 103.417 101.381 104.246 107.597L107.602 96.3939C110.539 102.408 108.957 109.71 104.136 119.421L113.101 109.157C107.714 116.202 103.709 133.607 103.709 133.607L107.287 130.389C105.464 135.693 103.456 138.504 100.367 143.332Z" stroke="#053D75" stroke-linejoin="round" fill="#FFFFFF" class="to-stroke-primary"/>
        <rect x="65.4521" y="114.818" width="33.7879" height="33.7879" rx="16.894" stroke="#053D75" class="to-stroke-primary to-fill-primary"/>
        <path d="M82.3461 124.712V138.712" stroke="#053D75" stroke-linecap="round" stroke-linejoin="round" class="to-stroke-white"/>
        <path d="M75.3461 131.712H89.3461" stroke="#053D75" stroke-linecap="round" stroke-linejoin="round" class="to-stroke-white"/>
      </svg>
      .t-space-comet-hint Проблемы с учебой

    .t-space-comet._2
      <svg class="t-space-comet__pic" width="187" height="186" viewBox="0 0 187 186" fill="none" xmlns="http://www.w3.org/2000/svg"> 
        <path d="M111.004 145.197C107.165 153.688 96.5686 159.649 85.6272 157.35C74.6859 155.052 65.874 140.552 68.1724 129.611L72.2712 135.617C72.2712 135.617 70.4885 113.625 60.341 106.145C60.341 106.145 70.4458 108.052 71.6159 114.456C71.6159 114.456 68.1584 100.01 71.3826 93.0076L72.4047 102.714C80.4397 82.8251 86.4522 72.3194 81.3429 47.7961C81.3429 47.7961 86.5855 57.8233 87.4083 66.0649L95.9828 28.2017C95.9828 28.2017 101.847 45.5335 106.18 72.4607C106.18 72.4607 107.94 65.6578 111.736 60.6663C108.39 73.3535 107.981 103.243 109.697 109.275L111.405 97.7058C115.178 103.234 114.663 110.688 111.291 120.992L118.684 109.544C114.368 117.292 112.911 135.092 112.911 135.092L115.987 131.392C114.947 136.903 113.365 139.974 111.004 145.197Z" stroke="#053D75" stroke-linejoin="round" fill="#FFFFFF" class="to-stroke-primary"/>
        <rect x="74.6033" y="119.398" width="33.7879" height="33.7879" rx="16.894" stroke="#053D75" class="to-stroke-primary to-fill-primary"/>
        <path d="M91.4972 129.292L91.4972 143.292" stroke="#053D75" stroke-linecap="round" stroke-linejoin="round" class="to-stroke-white"/>
        <path d="M84.4972 136.292L98.4972 136.292" stroke="#053D75" stroke-linecap="round" stroke-linejoin="round" class="to-stroke-white"/>
      </svg>
      .t-space-comet-hint Проблемы с учебой

    .t-space-comet._3
      <svg class="t-space-comet__pic" width="150" height="144" viewBox="0 0 150 144" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M63.7881 125.762C56.1741 131.133 44.0185 130.899 35.7535 123.37C27.4884 115.841 27.2455 98.8751 34.7745 90.6101L35.2619 97.865C35.2619 97.865 44.8765 78.0062 39.923 66.4138C39.923 66.4138 47.6656 73.1812 45.4268 79.2942C45.4268 79.2942 49.772 65.0895 56.1015 60.6891L52.0608 69.5733C69.0711 56.5052 79.5803 50.499 87.6114 26.7713C87.6114 26.7713 87.0456 38.0721 83.5758 45.5929L110.165 17.306C110.165 17.306 106.431 35.218 96.5127 60.6242C96.5127 60.6242 101.479 55.6529 107.282 53.2755C97.9647 62.5142 82.4562 88.0692 80.8764 94.138L88.2148 85.0322C88.6635 91.7099 84.44 97.8736 76.3091 105.045L88.4858 98.9268C80.8372 103.416 70.5556 118.019 70.5556 118.019L75.0838 116.39C71.3924 120.613 68.4716 122.457 63.7881 125.762Z" stroke="#053D75" stroke-linejoin="round" fill="#FFFFFF" class="to-stroke-primary"/>
        <rect x="34.5964" y="91.3022" width="33.7879" height="33.7879" rx="16.894" stroke="#053D75" class="to-stroke-primary to-fill-primary"/>
        <path d="M51.4904 101.196L51.4904 115.196" stroke="#053D75" stroke-linecap="round" stroke-linejoin="round" class="to-stroke-white"/>
        <path d="M44.4904 108.196L58.4904 108.196" stroke="#053D75" stroke-linecap="round" stroke-linejoin="round" class="to-stroke-white"/>
      </svg>
      .t-space-comet-hint Проблемы с учебой

    .t-space-comet._4
      <svg class="t-space-comet__pic" width="139" height="133" viewBox="0 0 139 133" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M53.1639 118.581C45.1109 123.269 33.0219 121.976 25.4443 113.755C17.8667 105.535 19.1029 88.6128 27.3233 81.0351L27.1768 88.3049C27.1768 88.3049 38.4851 69.3594 34.5605 57.3794C34.5605 57.3794 41.684 64.7957 38.9211 70.6904C38.9211 70.6904 44.4874 56.9183 51.1762 53.0861L46.3768 61.5845C64.4611 50.0481 75.4536 44.9804 85.5215 22.0428C85.5215 22.0428 83.9732 33.2513 79.8614 40.4412L108.814 14.5785C108.814 14.5785 103.534 32.0971 91.4394 56.5424C91.4394 56.5424 96.8197 52.0228 102.808 50.16C92.7212 58.5517 75.0451 82.6583 72.9426 88.5664L81.0464 80.1346C80.9116 86.826 76.1671 92.5983 67.4423 99.034L80.1058 94C72.0952 97.8055 60.5803 111.458 60.5803 111.458L65.2332 110.229C61.1879 114.115 58.1175 115.697 53.1639 118.581Z" stroke="#053D75" stroke-linejoin="round" fill="#FFFFFF" class="to-stroke-primary"/>
        <rect x="25.5494" y="83.1168" width="33.7879" height="33.7879" rx="16.894" stroke="#053D75" class="to-stroke-primary to-fill-primary"/>
        <path d="M42.4434 93.0108L42.4434 107.011" stroke="#053D75" stroke-linecap="round" stroke-linejoin="round" class="to-stroke-white"/>
        <path d="M35.4434 100.011L49.4434 100.011" stroke="#053D75" stroke-linecap="round" stroke-linejoin="round" class="to-stroke-white"/>
      </svg>
      .t-space-comet-hint Проблемы с учебой

    .t-space-comet._5
      <svg class="t-space-comet__pic" width="187" height="186" viewBox="0 0 187 186" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M111.004 145.197C107.165 153.688 96.5686 159.649 85.6272 157.35C74.6859 155.052 65.874 140.552 68.1724 129.611L72.2712 135.617C72.2712 135.617 70.4885 113.625 60.341 106.145C60.341 106.145 70.4458 108.052 71.6159 114.456C71.6159 114.456 68.1584 100.01 71.3826 93.0076L72.4047 102.714C80.4397 82.8251 86.4522 72.3194 81.3429 47.7961C81.3429 47.7961 86.5855 57.8233 87.4083 66.0649L95.9828 28.2017C95.9828 28.2017 101.847 45.5335 106.18 72.4607C106.18 72.4607 107.94 65.6578 111.736 60.6663C108.39 73.3535 107.981 103.243 109.697 109.275L111.405 97.7058C115.178 103.234 114.663 110.688 111.291 120.992L118.684 109.544C114.368 117.292 112.911 135.092 112.911 135.092L115.987 131.392C114.947 136.903 113.365 139.974 111.004 145.197Z" stroke="#053D75" stroke-linejoin="round" fill="#FFFFFF" class="to-stroke-primary"/>
        <rect x="74.6033" y="119.398" width="33.7879" height="33.7879" rx="16.894" stroke="#053D75" class="to-stroke-primary to-fill-primary"/>
        <path d="M91.4972 129.292L91.4972 143.292" stroke="#053D75" stroke-linecap="round" stroke-linejoin="round" class="to-stroke-white"/>
        <path d="M84.4972 136.292L98.4972 136.292" stroke="#053D75" stroke-linecap="round" stroke-linejoin="round" class="to-stroke-white"/>
      </svg>
      .t-space-comet-hint._sm-right Проблемы с учебой

    .t-space-comet._6
      <svg class="t-space-comet__pic" width="150" height="146" viewBox="0 0 150 146" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M64.243 126.855C56.6748 132.291 44.5176 132.159 36.189 124.701C27.8603 117.242 27.4735 100.28 34.932 91.9509L35.481 99.2014C35.481 99.2014 44.9267 79.2618 39.875 67.7118C39.875 67.7118 47.6747 74.4132 45.4879 80.545C45.4879 80.545 49.7124 66.3039 56.0043 61.85L52.0391 70.7682C68.938 57.5561 79.3958 51.461 87.2252 27.666C87.2252 27.666 86.7554 38.9712 83.3495 46.5212L109.698 18.0096C109.698 18.0096 106.116 35.9527 96.4135 61.4421C96.4135 61.4421 101.337 56.4289 107.12 54.0023C97.8815 63.3197 82.5905 89.0054 81.0622 95.0874L88.3231 85.9197C88.8284 92.5933 84.6574 98.7927 76.5876 106.033L88.712 99.8115C81.1018 104.365 70.9445 119.056 70.9445 119.056L75.4586 117.388C71.8033 121.642 68.8982 123.511 64.243 126.855Z" stroke="#053D75" stroke-linejoin="round" fill="#FFFFFF" class="to-stroke-primary"/>
        <rect x="34.9027" y="92.5005" width="33.7879" height="33.7879" rx="16.894" stroke="#053D75" class="to-stroke-primary to-fill-primary"/>
        <path d="M51.7966 102.395L51.7966 116.395" stroke="#053D75" stroke-linecap="round" stroke-linejoin="round" class="to-stroke-white"/>
        <path d="M44.7966 109.395L58.7966 109.395" stroke="#053D75" stroke-linecap="round" stroke-linejoin="round" class="to-stroke-white"/>
      </svg>
      .t-space-comet-hint Проблемы с учебой

    .t-space-comet._7
      <svg class="t-space-comet__pic" width="168" height="165" viewBox="0 0 168 165" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M83.102 136.721C76.652 143.446 64.6746 145.533 55.1256 139.719C45.5765 133.904 42.1029 117.296 47.9177 107.747L49.7796 114.776C49.7796 114.776 55.4309 93.4479 48.3578 83.0127C48.3578 83.0127 57.2487 88.1795 56.2167 94.6073C56.2167 94.6073 57.7735 79.8346 63.1478 74.3081L60.8753 83.7997C75.0816 67.7277 84.2527 59.8277 87.6118 35.0041C87.6118 35.0041 89.2113 46.2054 87.2393 54.2498L107.947 21.4116C107.947 21.4116 107.697 39.707 102.805 66.5384C102.805 66.5384 106.732 60.7113 111.975 57.271C104.591 68.1168 94.24 96.1602 93.8464 102.419L99.3138 92.0808C101.028 98.5504 98.0569 105.406 91.4427 113.997L102.229 105.669C95.5771 111.534 88.2689 127.83 88.2689 127.83L92.4033 125.367C89.585 130.217 87.0694 132.584 83.102 136.721Z" stroke="#053D75" stroke-linejoin="round" fill="#FFFFFF" class="to-stroke-primary"/>
        <rect x="50.7864" y="104.929" width="33.7879" height="33.7879" rx="16.894" stroke="#053D75" class="to-stroke-primary to-fill-primary"/>
        <path d="M67.6804 114.823L67.6804 128.823" stroke="#053D75" stroke-linecap="round" stroke-linejoin="round" class="to-stroke-white"/>
        <path d="M60.6804 121.823L74.6804 121.823" stroke="#053D75" stroke-linecap="round" stroke-linejoin="round" class="to-stroke-white"/>
      </svg>
      .t-space-comet-hint._sm-right Проблемы с учебой

    .t-space-star._1
      img(src="./assets/static/fs-comet-star.svg", alt="star")
    .t-space-star._2
      img(src="./assets/static/fs-comet-star.svg", alt="star")
    .t-space-star._3
      img(src="./assets/static/fs-comet-star.svg", alt="star")
    .t-space-star._4
      img(src="./assets/static/fs-comet-star.svg", alt="star")

  .t-grid
    .t-pic
      img(src="./assets/static/total-child-1.svg", alt="child")
      // img(src="./assets/static/total-child-2.svg", alt="child")
      //img(src="./assets/static/total-child-3.svg", alt="child")
    .t-info
      h2.t-title
        .
          KROHA <span class="_text-primary">here to help</span> with threats from the universe of social media
      .text._text-darkgrey._my-20 KROHA parental control tools help reduce the risks your kids face online.
      button.btn.btn-primary._rounded._text-upper.t-btn(type="button") Renew license

  .tc.t__tc
    .tc-grid
      .tc-col
        .tc-c._active
          .tc-label.text Parental Control
          .tc-value KROHA
        .tc-bc
          picture
            source(media="(min-width: 1200px)", srcset="./assets/static/tc-card-1-xl.png")
            source(media="(min-width: 991px)", srcset="./assets/static/tc-card-1-lg.png")
            source(media="(min-width: 360px)", srcset="./assets/static/tc-card-1-md.png")
            source(media="(min-width: 0px)", srcset="./assets/static/tc-card-1-sm.png")
            img.tc-bc-bg(src="./assets/static/tc-card-1-xl.png", alt="space background")
          .tc-label.text Galaxy
          .tc-value._mt-10 Milky Way
      .tc-col
        .tc-c
          .tc-value 
            img(src="./assets/static/icon-star-bordered.svg", alt="icon")
            span 4.4
          .tc-label.text top-rated app
        .tc-bc
          picture
            source(media="(min-width: 1200px)", srcset="./assets/static/tc-card-2-xl.png")
            source(media="(min-width: 991px)", srcset="./assets/static/tc-card-2-lg.png")
            source(media="(min-width: 360px)", srcset="./assets/static/tc-card-2-md.png")
            source(media="(min-width: 0px)", srcset="./assets/static/tc-card-2-sm.png")
            img.tc-bc-bg(src="./assets/static/tc-card-2-xl.png", alt="space background")
          .tc-value > 400 Bln
          .tc-label.text._mt-10 stars 
      .tc-col
        .tc-c
          .tc-value 7
          .tc-label.text age, years
        .tc-bc
          picture
            source(media="(min-width: 1200px)", srcset="./assets/static/tc-card-3-xl.png")
            source(media="(min-width: 991px)", srcset="./assets/static/tc-card-3-lg.png")
            source(media="(min-width: 360px)", srcset="./assets/static/tc-card-3-md.png")
            source(media="(min-width: 0px)", srcset="./assets/static/tc-card-3-sm.png")
            img.tc-bc-bg(src="./assets/static/tc-card-3-xl.png", alt="space background")
          .tc-value 13.61 bln
          .tc-label.text._mt-10 age, years 
      .tc-col
        .tc-c
          .tc-value 3 mln
          .tc-label.text families population
        .tc-bc
          picture
            source(media="(min-width: 1200px)", srcset="./assets/static/tc-card-4-xl.png")
            source(media="(min-width: 991px)", srcset="./assets/static/tc-card-4-lg.png")
            source(media="(min-width: 360px)", srcset="./assets/static/tc-card-4-md.png")
            source(media="(min-width: 0px)", srcset="./assets/static/tc-card-4-sm.png")
            img.tc-bc-bg(src="./assets/static/tc-card-4-xl.png", alt="space background")
          .tc-value 8 bln
          .tc-label.text._mt-10 people population