.winf
  display: flex
  align-items: center
  justify-content: space-between
  gap: 30px
  &-info
    flex: 0 1 440px
  &-widget
    // border: 1px solid red
    flex: 0 0 345px
    border-radius: 10px
    box-shadow: 0px 0px 250px rgba(72, 123, 173, 0.15), inset 0px 0px 250px rgba(72, 123, 173, 0.1)
