.w12
  .pph-box-feed
    .pph-box._py-10._px-15
      .pph-yt
        .pph-yt-preview
          img(src=staticRoute + "yt-preview-example-1.png", alt="preview")
        .pph-yt-info
          .text._fz-14._sm-fz-12._text-black._text-bold 1 серия 3 сезон “Миньоны на охоте”
          .text._fz-12._sm-fz-10._text-darkgrey Cartoon
          .text._fz-12._sm-fz-10._text-darkgrey 1 млн. просмотр
    .pph-box._py-10._px-15
      .pph-yt
        .pph-yt-preview
          img(src=staticRoute + "yt-preview-example-2.png", alt="preview")
        .pph-yt-info
          .text._fz-14._sm-fz-12._text-black._text-bold Как играть в Mario? Все секреты в одном видео
          .text._fz-12._sm-fz-10._text-darkgrey Сomputer_Games
          .text._fz-12._sm-fz-10._text-darkgrey 520 тис. просмотр
    .pph-box._py-10._px-15
      .pph-yt
        .pph-yt-preview
          img(src=staticRoute + "yt-preview-example-1.png", alt="preview")
        .pph-yt-info
          .text._fz-14._sm-fz-12._text-black._text-bold 1 серия 3 сезон “Миньоны на охоте”
          .text._fz-12._sm-fz-10._text-darkgrey Cartoon
          .text._fz-12._sm-fz-10._text-darkgrey 1 млн. просмотр