.w14
  .pph-box-feed
    .pph-box._py-10._px-20
      ._df._justify-between._align-center._gap-x-10
        .text._fz-16._sm-fz-12._text-darkgrey._flex-grow-1 Введите название видео / URL
        .pph-icon._flex-shrink-0
          img(src=staticRoute + "icon-zoom-primary-2.svg", alt="icon")
    .pph-subtext._text-center._text-darkgrey._my-15._sm-my-10 Заблокированые видео:
    .pph-box._py-10._px-15
      .pph-yt
        .pph-yt-preview
          img(src=staticRoute + "yt-preview-example-3.png", alt="preview")
        .pph-yt-info
          .text._fz-14._sm-fz-12._text-black._text-bold Россия готовит признание поражения / как старий маразм ...
          .text._fz-12._sm-fz-10._text-darkgrey NEXTA live
          .text._fz-12._sm-fz-10._text-darkgrey 520 тис. просмотр
    .pph-box._py-10._px-15
      .pph-yt
        .pph-yt-preview
          img(src=staticRoute + "yt-preview-example-2.png", alt="preview")
        .pph-yt-info
          .text._fz-14._sm-fz-12._text-black._text-bold Как играть в Mario? Все секреты в одном видео
          .text._fz-12._sm-fz-10._text-darkgrey Сomputer_Games
          .text._fz-12._sm-fz-10._text-darkgrey 520 тис. просмотр