.w20
  .pph-box-feed
    .pph-box._py-20._sm-py-15._px-15._sm-px-10
      ._df._justify-between._align-center._gap-x-10
        .pph-icon._flex-shrink-0
          img(src=staticRoute + "icon-contact-primary.svg", alt="icon")
        .text._fz-16._sm-fz-14._text-black._text-bold._flex-grow-1 Все контакты
        img.pph-icon._flex-shrink-0(src=staticRoute + "icon-arrow-right-grey.svg", alt="icon")
    .pph-box._py-20._sm-py-15._px-15._sm-px-10
      ._df._justify-between._align-center._gap-x-10
        .pph-icon._flex-shrink-0
          img(src=staticRoute + "icon-chart-primary.svg", alt="icon")
        .text._fz-16._sm-fz-14._text-black._text-bold._flex-grow-1 Статистика
        img.pph-icon._flex-shrink-0(src=staticRoute + "icon-arrow-right-grey.svg", alt="icon")