.w21
  .pph-box-feed
    .pph-box._py-10._px-20._sm-px-15
      ._df._justify-between._align-center
        .text._fz-16._sm-fz-14._text-darkgrey Поиск
        .pph-icon
          img(src=staticRoute + "icon-zoom-primary-2.svg", alt="icon")
    .pph-subtext._text-darkgrey._my-10._px-10 А
    .pph-box._py-10._px-20._sm-px-15
      ._df._justify-between._align-center
        div._flex-grow-1
          .text._fz-14._sm-fz-12._text-black._text-bold Александра
          .text._fz-14._sm-fz-12._text-darkgrey._mt-5 +380 (67) 576 60 60
          .text._fz-14._sm-fz-12._text-darkgrey._mt-5 +380 (67) 576 60 60
          .text._fz-14._sm-fz-12._text-darkgrey._mt-5 +380 (67) 576 60 60
        .pph-icon
          img(src=staticRoute + "icon-info-primary.svg", alt="icon")
    .pph-box._py-10._px-20._sm-px-15
      ._df._justify-between._align-center
        div._flex-grow-1
          .text._fz-14._sm-fz-12._text-black._text-bold Алина
          .text._fz-14._sm-fz-12._text-darkgrey._mt-5 +380 (67) 576 60 60
        .pph-icon
          img(src=staticRoute + "icon-info-primary.svg", alt="icon")
    .pph-box._py-10._px-20._sm-px-15
      ._df._justify-between._align-center
        div._flex-grow-1
          .text._fz-14._sm-fz-12._text-black._text-bold Алина
          .text._fz-14._sm-fz-12._text-darkgrey._mt-5 +380 (67) 576 60 60
        .pph-icon
          img(src=staticRoute + "icon-info-primary.svg", alt="icon")