.w23
  .pph-subtext._text-darkgrey._text-center 9:30, сегодня
  ._df._flex-direction-column._mt-10
    .pph-box._primary._py-10._px-15._sm-px-10._ml-auto
      .text._fz-16._sm-fz-14._text-white Исходящий звонок (1 мин.)
    .pph-box._primary._py-10._px-15._sm-px-10._ml-auto._mt-10
      .text._fz-16._sm-fz-14._text-white На велику
    .pph-box._py-10._px-15._sm-px-10._mr-auto._mt-10
      .text._fz-16._sm-fz-14._text-black Пропущенный звонок
    .pph-box._primary._py-10._px-15._sm-px-10._ml-auto._mt-10
      .text._fz-16._sm-fz-14._text-white Исходящий звонок (1 мин.)
    .pph-box._py-10._px-15._sm-px-10._mr-auto._mt-10
      .text._fz-16._sm-fz-14._text-black Входящий звонок (15 мин.)
    .pph-box._primary._py-10._px-15._sm-px-10._ml-auto._mt-10
      .text._fz-16._sm-fz-14._text-white Исходящий звонок (1 мин.)
    .pph-box._py-10._px-15._sm-px-10._mr-auto._mt-10
      .text._fz-16._sm-fz-14._text-black Мама наругает
