.w24
  .pph-box-feed
    .pph-box._py-15._sm-py-10._px-15._sm-px-10
      ._df._justify-between._align-center._gap-x-10
        ._flex-grow-1
          .text._fz-12._text-darkgrey Входящий визов
          .text._fz-16._sm-fz-14._text-black._text-bold Братик
        ._flex-shrink-0._text-right
          .text._fz-12._text-darkgrey 2 хв
          .text._fz-12._text-darkgrey._text-bold 2 хв
    .pph-box._py-15._sm-py-10._px-15._sm-px-10
      ._df._justify-between._align-center._gap-x-10
        ._flex-grow-1
          .text._fz-12._text-darkgrey Исходящий визов
          .text._fz-16._sm-fz-14._text-black._text-bold Алина
        ._flex-shrink-0._text-right
          .text._fz-12._text-darkgrey 30 хв
          .text._fz-12._text-darkgrey._text-bold 15:40
    .pph-box._py-15._sm-py-10._px-15._sm-px-10
      ._df._justify-between._align-center._gap-x-10
        ._flex-grow-1
          .text._fz-12._text-darkgrey Исходящий визов
          .text._fz-16._sm-fz-14._text-black._text-bold Мамочка
        ._flex-shrink-0._text-right
          .text._fz-12._text-darkgrey 2 хв 30 сек
          .text._fz-12._text-darkgrey._text-bold 18:01