.w25
  .pph-box-feed
    .pph-box._py-15._sm-py-10._px-15._sm-px-10
      ._df._justify-between._align-center._gap-x-10
        .text2._fz-16._sm-fz-14._text-primary._text-bold Google
        .text._fz-12._text-black 9:30, сегодня
      .text._fz-16._sm-fz-14._text-black._text-ellipsis._mt-5 У Вас 1 новое письмо
    .pph-box._py-15._sm-py-10._px-15._sm-px-10
      ._df._justify-between._align-center._gap-x-10
        .text2._fz-16._sm-fz-14._text-primary._text-bold Comfy
        .text._fz-12._text-black 9:30, 18.09.22
      .text._fz-16._sm-fz-14._text-black._text-ellipsis._mt-5 Возвращаем 5% дополнительно к ски ...
    .pph-box._py-15._sm-py-10._px-15._sm-px-10
      ._df._justify-between._align-center._gap-x-10
        .text2._fz-16._sm-fz-14._text-primary._text-bold WatsonsClub
        .text._fz-12._text-black 9:30, 18.09.22
      .text._fz-16._sm-fz-14._text-black._text-ellipsis._mt-5 Только для тебя. До 25.09. купляй чот...
    .pph-box._py-15._sm-py-10._px-15._sm-px-10
      ._df._justify-between._align-center._gap-x-10
        .text2._fz-16._sm-fz-14._text-primary._text-bold Алина
        .text._fz-12._text-black 1:30, 18.09.22
      .text._fz-16._sm-fz-14._text-black._text-ellipsis._mt-5 Я отпросилась у мамы, можем ехать))
    .pph-box._py-15._sm-py-10._px-15._sm-px-10
      ._df._justify-between._align-center._gap-x-10
        .text2._fz-16._sm-fz-14._text-primary._text-bold Lifecell
        .text._fz-12._text-black 1:30, 18.09.22
      .text._fz-16._sm-fz-14._text-black._text-ellipsis._mt-5 Персональное предложение. 4 ГБ инт...