.w27
  .pph-box._py-20._px-10._sm-py-15._pos-rel
    .pph-box-close._lh-0
      img(src=staticRoute + "icon-close-primary.svg", alt="icon")
    .text2._fz-24._sm-fz-18._lh-1d3._text-black._text-center._px-30 Подождите
    .text._fz-16._sm-fz-14._text-black._text-center._mt-20._sm-mt-15 настройки применяются на <br> устройстве ребенка
    ._df._justify-between._align-center._gap-x-10._mt-20
      ._flex-grow-1._lh-0
       img._w-100p(src=staticRoute + "icon-phone-2-primary.svg", alt="icon")
      ._flex-grow-1._lh-0
       img._w-100p(src=staticRoute + "icon-steps.svg", alt="icon")
      ._flex-grow-1._lh-0
       img._w-100p(src=staticRoute + "icon-phone-2.svg", alt="icon")