.w28
  .pph-map._py-10._px-10
    .pph-map-pic
      img(src=staticRoute + "map-example-1.png", alt="map")
    .pph-map-bar
      .pph-box._gradient-grey._py-10._px-15._sm-px-10
        ._df._justify-between._align-center._gap-x-10
          ._flex-grow-1
            .text._fz-12._text-darkgrey Обновлено:
            .text._fz-12._text-darkgrey._text-bold 19:30, сегодня
          ._flex-grow-1._text-right
            .text._fz-12._text-darkgrey Местонахождение:
            .text._fz-12._text-darkgrey._text-bold вул. Мачеретивська, 11