.w29
  .pph-map._py-10._px-10
    .pph-map-pic
      img(src=staticRoute + "map-example-2.png", alt="map")
    .pph-map-bar
      ._df._justify-between._align-center._gap-x-5
        .pph-box._primary._py-10._sm-py-5._px-5._text-center._flex-grow-1
          .text._fz-12._text-white._text-bold 100 м
        .pph-box._gradient-grey._py-10._sm-py-5._px-5._text-center._flex-grow-1
          .text._fz-12._text-darkgrey._text-bold 300 м
        .pph-box._gradient-grey._py-10._sm-py-5._px-5._text-center._flex-grow-1
          .text._fz-12._text-darkgrey._text-bold 500 м
        .pph-box._gradient-grey._py-10._sm-py-5._px-5._text-center._flex-grow-1
          .text._fz-12._text-darkgrey._text-bold 700 м