.w4
  .cal.pph-cal
    table
      thead
        tr
          th
          th.cal-th Пн
          th.cal-th Вт
          th.cal-th Ср
          th.cal-th Чт
          th.cal-th Пт
          th.cal-th Сб
          th.cal-th Вс
      tbody
        tr
          td.cal-th._td 00:00
          td
            .cal-cell
              .cal-mark._bg-red
          td
            .cal-cell
              .cal-mark._bg-red
          td
            .cal-cell
              .cal-mark._bg-red
          td
            .cal-cell
              .cal-mark._bg-red
          td
            .cal-cell
              .cal-mark._bg-red
          td
            .cal-cell
          td
            .cal-cell
        tr
          td.cal-th._td 01:00
          td
            .cal-cell
              .cal-mark._bg-red
          td
            .cal-cell
              .cal-mark._bg-red
          td
            .cal-cell
              .cal-mark._bg-red
          td
            .cal-cell
              .cal-mark._bg-red
          td
            .cal-cell
          td
            .cal-cell
          td
            .cal-cell
        tr
          td.cal-th._td 02:00
          td
            .cal-cell
              .cal-mark._bg-red
          td
            .cal-cell
              .cal-mark._bg-red
          td
            .cal-cell
              .cal-mark._bg-red
          td
            .cal-cell
          td
            .cal-cell
          td
            .cal-cell
          td
            .cal-cell
        tr
          td.cal-th._td 03:00
          td
            .cal-cell
              .cal-mark._bg-red
          td
            .cal-cell
              .cal-mark._bg-red
          td
            .cal-cell
          td
            .cal-cell
          td
            .cal-cell
          td
            .cal-cell
          td
            .cal-cell
        tr
          td.cal-th._td 04:00
          td
            .cal-cell
              .cal-mark._bg-red
          td
            .cal-cell
              .cal-mark._bg-red
          td
            .cal-cell
          td
            .cal-cell
          td
            .cal-cell
          td
            .cal-cell
          td
            .cal-cell
        tr
          td.cal-th._td 05:00
          td
            .cal-cell
              .cal-mark._bg-red
          td
            .cal-cell
              .cal-mark._bg-red
          td
            .cal-cell
          td
            .cal-cell
          td
            .cal-cell
          td
            .cal-cell
          td
            .cal-cell
        tr
          td.cal-th._td 06:00
          td
            .cal-cell
              .cal-mark._bg-red
          td
            .cal-cell
              .cal-mark._bg-red
          td
            .cal-cell
          td
            .cal-cell
          td
            .cal-cell
          td
            .cal-cell
          td
            .cal-cell
        tr
          td.cal-th._td 07:00
          td
            .cal-cell
              .cal-mark._bg-red
          td
            .cal-cell
              .cal-mark._bg-red
          td
            .cal-cell
          td
            .cal-cell
          td
            .cal-cell
          td
            .cal-cell
          td
            .cal-cell