.w5
  .pph-box._py-20._px-15
    .text2._fz-24._text-center._text-black Понедельник
    .text._fz-16._text-center._text-darkgrey._mt-10 Установить лимит
    ._df._justify-center._mt-20
      .dtpicker
        .dtpicker-col
          .dtpicker-val.text2._fz-24._sm-fz-18._text-darkgrey 1
          .dtpicker-val.text2._fz-24._sm-fz-18._text-darkgrey 2
          .dtpicker-val.text2._fz-24._sm-fz-18._text-darkgrey 3
        .dtpicker-col
          .dtpicker-val.text2._fz-24._sm-fz-18._text-darkgrey 30
          .dtpicker-val.text2._fz-24._sm-fz-18._text-darkgrey 35
          .dtpicker-val.text2._fz-24._sm-fz-18._text-darkgrey 40
    label._df._align-center._justify-center._gap-x-10._mt-20._cursor-pointer
        .checkbox
          input(type="checkbox")
          .checkbox-check
            img(src=staticRoute + "icon-check-white.svg", alt="check")
        .text._fz-14._text-darkgrey Установить для всех дней недели
    ._df._align-center._mt-20
      btn.btn.btn-transparent._flex-grow-1
        .btn-text._fz-20 Сбросить
      btn.btn.btn-primary._flex-grow-1
        .btn-text._fz-20 Изменить