.w9
  .pph-box-feed
    .pph-box._py-20._px-15._sm-py-10
      ._df._justify-between._align-center
        .text._fz-16._sm-fz-12._text-black Заряд батареи
        div._df._align-center._gap-x-10
          .text._fz-16._sm-fz-12._text-red 21%
          .pph-preview-small
            img(src=staticRoute + "icon-lowbattery-red.svg", alt="icon")
    .text._fz-12._sm-fz-10._text-center._text-darkgrey._my-15._sm-my-10 Использованный трафик
    ._df._gap-x-5
      .pph-box._py-15._px-15._sm-py-10._flex-grow-1._inrow
        .text._fz-16._sm-fz-12._text-center._text-black Исходящий
        .text2._fz-18._sm-fz-14._text-center._text-primary._text-bold._mt-10 0 кб
      .pph-box._py-15._px-15._sm-py-10._flex-grow-1._inrow
        .text._fz-16._sm-fz-12._text-center._text-black Входящий
        .text2._fz-18._sm-fz-14._text-center._text-primary._text-bold._mt-10 0 кб
    .text._fz-12._sm-fz-10._text-center._text-darkgrey._my-15._sm-my-10 Доступное место на диске
    .pph-box._py-20._px-15
      img._w-100(src=staticRoute + "range-example-1.svg", alt="range")
      .text._fz-14._sm-fz-10._text-darkgrey._text-center._mt-10 16,54 Гб / 50,31 Гб