.f
  &._bg
    +gradient-grey
  &-container
    margin: 0 auto
    max-width: 1144px
    width: 100%
  &-top
    padding: 50px 30px 40px
    &-row
      display: flex
      gap: 30px
  &-common
    flex: 0 1 280px
  &-logo
    max-width: 218px
    width: 100%
    line-height: 0
    img, svg
      width: 100%
  &-soc
    margin-top: 30px
    display: flex
    align-items: center
    flex-wrap: wrap
    gap: 10px
    &-item
      flex: 0 0 auto
      line-height: 0
  &-link
    margin-top: 20px
    display: block
    +opensans-reg
    font-size: 18px
    color: $darkgrey
  &-nav
    flex: 1 1 auto
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    gap: 30px
    &-col
      flex: 0 1 30%
      &:not(.accordion-item_show)
        .accordion-body
          display: block
      &-h
        display: flex
        align-items: center
        justify-content: space-between
        cursor: pointer
        &-arrow
          flex: 0 0 auto
          display: none
      &-b
        &__inner
          padding-top: 20px
    &-label
      +monts-med
      font-size: 24px
      color: $black
    &-link
      display: block
      +opensans-reg
      font-size: 18px
      line-height: 1.4
      color: $darkgrey
      &:not(:nth-of-type(1))
        margin-top: 10px
  &-bottom
    border-top: 1px solid #C4CBD8
    padding: 20px 30px 40px

@media ( max-width: 991px )
  .f
    &-top
      &-row
        flex-direction: column
        gap: 20px
    &-common
      flex: auto
      display: flex
      flex-direction: column
      align-items: center
    &-soc
      margin-top: 20px
    &-nav
      flex-direction: column
      gap: 0
      &-col
        flex: auto
        margin-top: 10px
        border-top: 1px solid #C4CBD8
        width: 100%
        &:not(.accordion-item_show)
          .accordion-body
            display: none
        &-h
          padding: 20px 0 10px
          &-arrow
            display: block

@media ( max-width: 520px )
  .f
    &-top
      padding: 20px 30px 10px
    &-link
      font-size: 16px
    &-nav
      &-label
        font-size: 18px
      &-link
        font-size: 16px
