extends ./layouts/_common.pug

block variables
  - var pageTitle = 'Main'

block prepend scripts
  script(src="./js/swiper-bundle.min.js") 

block header
  header.h
block content
  main.main
block footer
  footer.f