extends ./layouts/_common.pug

block variables
  - var pageTitle = 'Main'

block prepend scripts
  script(src="./js/swiper-bundle.min.js")

block header
  include ./components/header/_header.pug
block content
  main.main
block footer
  - var footerTop = true
  - var footerBottom = true
  - var footerBg = true
  include ./components/footer/_footer.pug