extends ./layouts/_phone-mockup.pug

block variables
  -
    var pageTitle = "iphone password recovery"

block append scripts
  script(defer src="./js/temp_form.js")

block content
  .pph._white
    img.pph-mockup-topbar(src="./assets/static/mockup-phone-topbar.svg", alt="topbar")
    .phsgn
      .phsgn-h
        .phsgn-h-logo
          img(src="./assets/static/logo-kroha-lock.svg", alt="kroha")
        h1.phsgn-title Восстановление пароля
      form.phsgn-form(action="#")
        .input2-wrapper.phsgn-form-block
          .input2-field
            input.input2.active(type="text")
            label.input2-label E-mail
        button.btn.btn-primary.phsgn-btn._mt-20(type="button") Восстановить