.pph
  position: relative
  border-radius: 20px
  width: 100%
  height: 100%
  padding: 30px 15px 0
  &._white
    background-color: $white
  &._primary
    background-color: $primary
  &._light-blue
    background-color: #E8F0FF
  &-mockup
    max-width: 375px
    width: 100%
    height: 812px
    &__wrapper
      width: 100%
      min-height: 100vh
      padding: 30px
      display: flex
      align-items: center
      justify-content: center
      background-color: #D0D0D0
    &-topbar
      position: absolute
      top: 0
      left: 0
      height: 30px
      width: 100%
  &-topbar
    display: flex
    align-items: center
    justify-content: space-between
    gap: 5px
    &-btn
      flex: 0 0 auto
      width: 44px
      height: 44px
      display: flex
      align-items: center
      justify-content: center
      cursor: pointer
      img, svg
        max-width: 100%
        max-height: 100%
    &-center
      display: flex
      justify-content: center
      align-items: center
    &-title
      text-align: center
      +monts-med
      font-size: 18px
      line-height: 1.2
      color: $black
  &-text
    +opensans-reg
    font-size: 16px
    &._bold
      +opensans-semibold
    ._bold
      +opensans-semibold
  &-subtext
    +opensans-reg
    font-size: 12px
    line-height: 1.3
  &-icon
    flex: 0 0 24px
    width: 24px
    line-height: 0
    display: flex
    align-items: center
    justify-content: center
    img, svg
      max-width: 100%
  &-box
    border-radius: 10px
    background-color: $white
    &-feed
      display: flex
      flex-direction: column
      .pph
        &-box
          &:not(._inrow)
            &:not(:nth-of-type(1))
              margin-top: 4px
  &-chapter
    display: flex
    align-items: center
    justify-content: space-between
    gap: 10px
    &-icon
      flex: 0 0 24px
      width: 24px
      height: 24px
      img, svg
        max-width: 100%
        max-height: 100%
    &-label
      flex: 1 1 auto
  &-preview
    &-small
      flex: 0 0 auto
      width: 32px
      height: 32px
      img, svg
        width: 100%
        height: 100%
  &-grid
    display: grid
    &._type
      &-1
        grid-template-columns: 32px 1fr
        gap: 10px
      &-2
        grid-template-columns: 32px 1fr 24px
        gap: 10px
        .pph-text
          overflow: hidden
          white-space: nowrap
          text-overflow: ellipsis
      &-3
        grid-template-columns: min-content 1fr auto
        gap: 10px
        .pph-text
          overflow: hidden
          white-space: nowrap
          text-overflow: ellipsis
    ._align
      &-top
        align-self: start
      &-center
        align-self: center
      &-bottom
        align-self: end
  &-botbar
    position: absolute
    bottom: 0
    left: 0
    border-bottom-left-radius: 20px
    border-bottom-right-radius: 20px
    width: 100%
    padding: 12px 20px
    background-color: $white
    &-row
      display: flex
      align-items: center
      justify-content: space-between
      gap: 5px
    &-item
      cursor: pointer
      &._active, &:hover
        ._active
          &-stroke
            stroke: $primary
          &-fill
            fill: $primary
        .pph-botbar-item
          &-label
            color: $primary
      &-icon
        margin: 0 auto
        width: 24px
        height: 24px
        img, svg
          width: 100%
          height: 100%
        ._active
          &-stroke
            +transition(stroke, 0.2s)
          &-fill
            +transition(fill, 0.2s)
      &-label
        text-align: center
        +opensans-reg
        font-size: 10px
        line-height: 1.3
        color: $grey
        +transition(color, 0.2s)
  &-yt
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: 10px
    &-preview
      border-radius: 4px
      height: 93px
      line-height: 0
      overflow: hidden
      img, svg
        width: 100%
        height: 100%
        object-fit: contain
    &-info
      align-self: center
