.punlock
  padding: 30px
  height: 100%
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  text-align: center
  &-title
    margin: 0
    +monts-med
    font-size: 32px
    line-height: 1.2
    color: #1A3564
  &-text
    +opensans-reg
    font-size: 20px
    line-height: 1.4
    color: $darkgrey
  &-desc
    margin-top: 20px
  &-btn
    margin-top: 40px
    max-width: 440px
    width: 100%
    padding: 0 20px
  &-outlink
    margin-top: 50px
    position: relative
    &::after
      content: ''
      position: absolute
      bottom: -10px
      left: 0
      border-top: 1px dashed $darkgrey
      width: 100%
      height: 1px

@media ( max-width: 520px )
  .punlock
    padding: 20px
    &-title
      +monts-reg
      font-size: 24px
    &-text
      font-size: 18px
    &-btn
      margin-top: 30px
    &-outlink
      margin-top: 40px
      font-size: 14px
