header.h(class=headerBordered && "_bordered")
  .h__inner
    .h-logo
      img(src="./assets/static/logo-kroha.svg" alt="kroha")
    .h-sidebar
      a.h-outlink(href="#")
        .h-outlink-icon
          img(src="./assets/static/icon-help-circle.svg", alt="help")
        .h-outlink-label._text-upper support