section.ps
  .ps-pic
    img(src=staticRoute + "picscreen-pic-example-1.png", alt="picture")
  .ps-content._text-center._text-white
    h1.ps-title.text2._fz-40._sm-fz-24._lh-1s3._font New features available!
    .ps-desc.text._fz-16._sm-fz-14._mt-20 Want to see the location of your kids on the map? Enable location tracking to make it easier to keep track of their whereabouts.
    a(href="#")._mt-20._df._align-center._justify-center._gap-x-10
      .text._fz-16._sm-fz-14._lh-1d5 Learn more
      img(src=staticRoute + "icon-arrow-right-white.svg", alt="icon")
