.btn
  border: none
  display: flex
  align-items: center
  justify-content: center
  cursor: pointer
  &-icon
    flex: 0 0 auto
  &-primary
    &-rounded
      border-radius: 30px
      height: 60px
      background-color: $primary
      +opensans-semibold
      font-size: 16px
      color: $white
      +transition(all, 0.15s)
      &:not(:disabled)
        &:hover
          background-color: darken($primary, 5%)
        &:active
          background-color: lighten($primary, 2%)
      &:disabled
        opacity: 0.5
        cursor: not-allowed

@media ( max-width: 520px )
  .btn
    &-primary
      &-rounded
        font-size: 14px
