.oi
  padding: 0 30px 200px
  &-inner
    margin: 0 auto
    max-width: 1144px
    display: flex
    justify-content: space-between
    gap: 30px
  &-info
    flex: 0 1 674px
  &-link
    &-feed
      display: flex
      justify-content: space-between
      gap: 30px
    .qrlink
      &-qr, &-link
        img
          max-width: 100%
  &-installbar
    .btn
      padding: 8px 0
      img
        max-width: 80%
        max-height: 100%
  &-bg
    flex: 0 1 320px

@media ( max-width: 1200px )
  .oi
    &-installbar
      .btn
        height: 50px

@media ( max-width: 991px )
  .oi
    &-inner
      display: block
      max-width: 708px
    &-bg
      display: none
    &-link
      flex: 0 0 190px
      &-feed
        overflow-y: auto
        padding-bottom: 10px
        scrollbar-width: 0
        &::-webkit-scrollbar
          width: 0
          height: 0
    &-installbar
      .btn
        height: 40px

@media ( max-width: 520px )
  .oi
    padding: 0 20px 100px
    &-installbar
      .btn
        height: 55px
